# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Model artifacts
**/prediction/artifacts/*.joblib

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# Streamlit
.streamlit/

# Data Files (large payloads)
stormshield/data/*.json
